<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A friend has invited you to join Flux!</h1>
    <p>
		<%= @user.email %> thought you would enjoy the immersive world of Flux.   
    </p>
    <p>
      If you have an iPhone 4s or newer, you can install Flux from the appStore 
      		<%= link_to 'here', 'https://itunes.apple.com/us/app/world-in-flux/id792748447?ls=1&mt=8' %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>The Flux Team</p>
  </body>
</html>



